/* variables colors */

$bg:#fff;
$black:#000;
$grisfonc:rgba(28,28,28,0.7);
$blancKC:#eee;
$blanc:#fff;
$para:#41415f;
$titre:#92616f;
$bleuCL:#81b7cd;
$degradButton:90deg, rgb(57,142,172) 0%, rgb(129,183,205) 100%;
$degradButtonHover:180deg, rgb(57,142,172) 0%, rgb(129,183,205) 100%;
$dottedblue:#81b7cd;



