/*-------------------------------------
    Theme : K8, Bed & Breakfast
    
    Sections of stylesheet:
        $INDEX0 - COULEURS UTILISEES
        $INDEX1 - GENERAL
        $INDEX3 - MENU
        $INDEX5 - HEADER STANDARD REDUIT
        $INDEX6 - HEADER MOBILE
        $INDEX7 - MAIN CONTENT
        $INDEX_ - ACCUEIL
        $INDEX_ - CHAMBRES
        $INDEX8 - PORTFOLIO
        $INDEX9 - LISTE
        $INDEX10 - CONTACT
        $INDEX11 - MEDIA QUERIES : TABLETS
        $INDEX12 - MEDIA QUERIES : SMARTPHONES
-------------------------------------/ 






/******************************************************

    $INDEX0 - COULEURS UTILISEES
    
******************************************************/ 

/*
    #382f2f brun foncé : fond header
    #ffffff blanc : lien
    #F6F6F6
    #d93612 orange foncé : selection
    #F0F0F0
    #rgba(30, 30, 30, 0.6)
    #222222
    #bdbbb0 beige clair
*/





/******************************************************

    $INDEX1 - GENERAL
    
******************************************************/ 



body {
    color: #353535;
}


header{
    background: #382f2f;
}

::selection{
    background: #d93612;
}
::-moz-selection{
    background: #d93612;
}
::-webkit-selection{
    background: #d93612;
}

a{
    color: #353535;
}

a:hover {
    color: #000;
}

h1, h2, h3{
    color: #353535;
    border-color: #353535;
}

hr{
    border-color: #d93612;
}



/******************************************************

    $INDEX3 - MENU 
    
******************************************************/ 




nav a{
    color: #F0F0F0;
}

nav a.current, nav a:hover{
    background: #F0F0F0;
    color: #E46C51;
}



/******************************************************

    $INDEX5 - HEADER STANDARD REDUIT
    
******************************************************/ 



 
.headerstandard.headerstandard-shrink {

h1 {
    background: transparent url('../img/icone.png') center left no-repeat;
    text-indent: 40px;
}
.spanDisplay {display: none;}
}

.logoHeader {
    font-family:'Great Vibes', Arial, sans-serif;
    color: #ffffff;
}


/******************************************************

    $INDEX6 - HEADER MOBILE
    
******************************************************/ 





header.headermobile button {
    background: transparent url('../img/nav-icon.png') center center no-repeat;
}

        
        
        
    
/******************************************************

    $INDEX7 - MAIN CONTENT
    
******************************************************/ 


.section1-visible{ background: #bdbbb0; }
.section2-visible{ background: #8a897c; }
.section3-visible{ background: #bdbbb0; }
.section4-visible{ background: #8a897c; }
.section5-visible{ background: #bdbbb0; }
.section6-visible{ background: #d2d7df; }
.section7-visible{ background: #bdbbb0; }


#main .home h1{
    background: transparent url('../img/logo.png') center center no-repeat;
}
.h1Display {
        font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.quote{
    background: rgba(30, 30, 30, 0.6) url('../img/quote.png') 15px 15px no-repeat;
    padding: 20px 20px 20px 80px;
}   

.scroll {
    background: url("../img/scroll.png") no-repeat scroll center top transparent;
}
.scroll:hover{
    background: url("../img/scroll.png") bottom center no-repeat;
}

.progress {
    background: #F0F0F0;
}

.progress .bar {
    background: #E46C51;
}

.scroll {
    background: url("../img/scroll.png") no-repeat scroll center top transparent;
}

.scroll:hover{
    background: url("../img/scroll.png") bottom center no-repeat;
}

/******************************************************

    $INDEX_ - ACCUEIL
    
******************************************************/ 
.accueil {
    p{
        font-weight: 500;
    }
    img {width: 80%;
        height: auto;

    }
}
/******************************************************

    $INDEX_ - CHAMBRES
    
******************************************************/ 
.chambres {
    .navChambre{
        text-align: center;
    }
    li{
display: inline-block;
    }

}


/******************************************************

    $INDEX8 - PORTFOLIO
    
******************************************************/ 




.grid figcaption {
    background: #e5e5e5;
    color: #382f2f; 
}

.grid figcaption a {
    background: #e5e5e5;
    color: #382f2f;
}

.grid figcaption h3 {
    color:#382f2f;
}



/******************************************************

    $INDEX9 - LISTE
    
******************************************************/ 


#team li{
    background: #E46C51;
}

#team li figcaption.contactme{
    background: #222222;
}


#team li figcaption.member{
    background: #222222;
}

#team li figcaption.contactme span:hover,
#team li:hover figcaption.contactme span:hover{
    background-color: #e5e5e5;
}

#team li figcaption.contactme span.facebook{
    background: url('../img/facebook.png') center center no-repeat;
}
#team li figcaption.contactme span.twitter{
    background: url('../img/twitter.png') center center no-repeat;
}



/******************************************************

    $INDEX10 - CONTACT
    
******************************************************/ 





#contact-form input,#contact-form2 input[type="text"],
#contact-form input,#contact-form2 input[type="email"],
#contact-form input,#contact-form2 input[type="tel"],
#contact-form input,#contact-form2 input[type="url"],
#contact-form input,#contact-form2 input[type="date"],
#contact-form textarea,
#contact-form2 textarea,
#contact-form select{
    background:#FFF;
    box-shadow:inset 0 1px 2px #F6F6F6, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #F6F6F6, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #F6F6F6, 0 1px 0 #FFF;
}
#contact-form button,#contact2-form button[type="submit"] {
    background:#382f2f;
    color:#F6F6F6;
}
#contact-form button, #contact-form2 button[type="submit"]:hover {
    background:#F6F6F6;
    color:#E46C51;
}





/******************************************************

    $INDEX11 - MEDIA QUERIES : TABLETS
    
******************************************************/ 




/* TABLETS */
@media screen and (max-width: 1020px ) {
     
  
        
    #main .home h1{
        background: transparent url('../img/logo-medium.png') center center no-repeat;
    }
    

}





/******************************************************

    $INDEX12 - MEDIA QUERIES : SMARTPHONES
    
******************************************************/ 






/* SMARTPHONES */
@media screen and (max-width: 767px ) {

     
  
        
    #main .home h1{
        background: transparent url('../img/logo-small.png') center center no-repeat;
    }
    
    .scroll {
        background-image: url('../img/scroll-small.png');
    } 
    .scroll:hover {
        background-image: url('../img/scroll-small.png');
    }


}
